<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.digio">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.recyclerview.RecyclerAdapter"></activity>
        <activity android:name=".activities.recyclerview.RecyclerViewHolder" />
        <activity android:name=".activities.recyclerview.RecyclerViewActivity" />
        <activity android:name=".activities.activity.DialogActivity" />
        <activity android:name=".activities.activity.LoginActivity" />
        <activity android:name=".activities.activity.RecordActivity" />
        <activity
            android:name=".activities.activity.SplashActivity"
            android:theme="@style/Theme.Digio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>